.card{
    max-width: 800px;
    height: max-content;
    margin: 25px auto;
    border: 1px solid rgb(173,173,173);
    border-radius: 5px;
}
.card-header{
    display:flex;
    align-items: center;
}
.card-header>h5{
    margin:0;
    padding :50px;
}
.card-pic img{
    width:100px;
    border-radius: 50%;
    height: auto ;
    object-fit: contain;
    padding:5px;
}
.card-image img{
    width: 100%;
}
.card-content{
    text-align: left;
    line-height: 4px ;
    padding : 3px 10px;
    border: 1px solid rgb(173,173,173);
}
.add-comment{
    display: flex;
    align-items: center;

}
.add-comment input{
    margin:0;
    outline : none ;
    border:none;
    padding :10px;
}
.comment{
    border: none;
    background-color: transparent;
    color: rgb(0, 8, 255);
}