.profile{
    max-width: 600px;
    margin: 10px auto;
}
.profile-frame{
    display: flex;
    justify-content: space-evenly;
}
.profile-pic{
    height: fit-content;
}
.profile-pic >img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 100px;
}
hr {
    width: 90%;
    opacity: "0.8";
    margin: "25px auto";
  }
.profile-data{
    text-align: left;
}
.profile-info p{
    padding:0px 10px;
}
.profile-images{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.profile-images img{
    width:30%;
    margin: 10px;
}